@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .text-shadow-glow {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }

    .text-shadow-glow-lg {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6;
    }
}

@layer utilities {
    :root {
        --anzu-text: #333333;
        --anzu-bg: #FFFFFF;
        --anzu-primary: #6bb9f0;
        --anzu-primary-bg: #f0f8ff;
        --anzu-primary-hover: #8ac8f8;
        --anzu-primary-pressed: #4da8e0;
        --anzu-primary-focus: rgba(107, 185, 240, 0.2);
        --anzu-accent-text: #FF8A65;
        --anzu-accent-hover: #FF6E40;
    }

    .dark {
        --anzu-text: #E1E4E8;
        --anzu-bg: #121212;
    }
}

body {
    color: var(--anzu-text);
    background-color: var(--anzu-bg);
    position: relative;
    z-index: 1;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 999;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    opacity: 0;
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--anzu-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--anzu-primary-hover);
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}


@keyframes expand {
    from {
        height: 0;
    }

    to {
        height: var(--to-height, 100px);
    }
}

@font-face {
    font-family: HarmonyOS_Sans_SC_Medium;
    font-style: normal;
    font-display: swap;
    src: url('/assets/font/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'),
        url('/assets/font/HarmonyOS_Sans_SC_Medium.woff2') format('woff');
}

* {
    font-family: HarmonyOS_Sans_SC_Medium;
}