@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    :root {
        --color-text: #333333;
        --color-primary: #6bb9f0;
        --color-primary-bg: #f0f8ff;
        --color-primary-hover: #8ac8f8;
        --color-primary-pressed: #4da8e0;
        --color-primary-focus: rgba(107, 185, 240, 0.2);

        --color-accent-text: #ff7e5f;
        --color-accent-hover: #ff9a80;
    }

    .dark {
        --color-text: #E1E4E8;
        --color-bg: #121212
    }
}

body {
    color: var(--color-text);
    position: relative;
    z-index: 1;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 999;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    opacity: 0;
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-hover);
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}


@keyframes expand {
    from {
        height: 0;
    }

    to {
        height: var(--to-height, 100px);
    }
}